{% extends 'layout.html' %}
{% block content %}

<div class="container_">
    <h1>Welcome Back</h1>
    <form action="/login" method="post" autocomplete="off">
        <div class="input_container">
            <label for="email">
                <i class="fa-solid fa-envelope"></i>
            </label>
            <input type="email" name="email" placeholder="E-mail" class="email" required>
        </div>
        <div class="input_container">
            <label for="password">
                <i class="fa-solid fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Password" class="password" required>
        </div>
        <input type="submit" value="Login">
    </form>
    <span>Don't have an account? <a href="/register">Register</a></span>
</div>

{% endblock %}